{% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <a href="list"><- GoBack</a>
                    <div class="card-body">
                        <div class="card-header">Admin Page</div>
                        {% if app.user != null %}
                            <table class="table">
                                <tr>
                                    <th>Some Data</th>
                                </tr>
                                {% for key, item in data %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ item }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        You need to login to see this page 😜😜 >></a
                    >
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}