<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="/icftech/public/build/app.css">
    {% endblock %}
</head>
<body>
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            style="height: 70px;"
    >
        <a class="navbar-brand" href="#">IcfTech Tesztfeladat</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li><a class="nav-link" href="{{ path('list') }}">View List</a></li>
                <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                <li>
                    <a class="nav-link" href="{{ path('registration') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}

    {% block javascripts %}

        <script type="text/javascript">

            var site_key = 'my_own_grecaptcha_site_key';

            var onloadCallback = function() {

                grecaptcha.render('grecaptcha_render', {
                    'sitekey' : site_key,
                    'callback' : verifyCallback,
                    'theme' : 'light'
                });
            };

            var verifyCallback = function(captchaToken) {
                var param = {
                    "token": captchaToken
                };

                jQuery.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "verifycaptcha",
                    data: JSON.stringify(param),
                    headers: token,
                    success: function(data)
                    {

                    }
                });
            }
        </script>

        {{ encore_entry_script_tags('app') }}
        <script src="/icftech/public/build/app.js"></script>
    {% endblock %}

</body>
</html>