{% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List of top datas</div>
                        {% if app.user != null %}
                            <table class="table">
                                <tr>
                                    <th>Test Name</th>
                                    <th>Test Value</th>
                                </tr>
                                {% for key, item in data %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ item }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="admin">AdminPage</a>
                            {% endif %}

                            {% if is_granted('ROLE_USER') %}
                                <a href="user">UserPage</a>
                            {% endif %}

                            {% if is_granted('ROLE_EDIT') %}
                                <a href="contentedit">ContentEditPage</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        You need to login to see the list 😜😜 >></a
                    >
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}